body {
    height: 100%;
    text-align: center;
    margin: 0 0;
    padding: 0;
    font-family: sans-serif;
}

/*---------------------Images*/

h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #303030;
    font-size: 40px;
}

p {
    font-family: 'VT323', monospace;
    color: #303030;
    font-size: 30px;
}

.image1 {
    background: /*linear-gradient( rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),*/
    url("/assets/images/image1.jpg");
    min-height: 100vh;
    margin-top: 0;
    position: relative;
    /*background-attachment: fixed;*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /*-ms-transform: skewY(-10deg);
     -webkit-transform: skewY(-20deg);
     transform: skewY(-10deg);
     z-index: 2;*/
}

.image1 h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #ffff00;
}

.container#meBaby {
    min-height: 100vh;
    min-width: 100%;
}

/*====================PULSE BUTTON========================*/

/*---------------https://www.solodev.com*/

.ct-btn-scroll {
    width: 49px;
    /*the size of the image*/
    height: 49px;
    /*the size of the image*/
    position: absolute;
    left: 50%;
    top: 90%;
    margin: 0;
    padding: 0;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.ct-btn-scroll:hover {
    background-color: #FF4500;
}

/*----http://www.tipue.com/blog/css-pulse-buttons/*/

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

.ct-btn-scroll {
    animation: shadow-pulse 2s infinite;
}

/*----------------------Settings*/

.section2 {
    padding-top: 50px;
}

.strict-style {
    text-align: center;
}

.power-style {
    text-align: center;
}

.scoreName {
    text-align: center;
}

.level,
.strict {
    width: 50%;
    float: left;
    text-align: center;
}

.gamebutton {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}

.offset-sm-2 {
    /*start button*/
    margin-left: -0.333333%;
}

.row.justify-content-center {
    /*start button*/
    padding-top: 50px;
    height: 100px;
}


label {
    /* fix vertical align issues */
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

#strict.toggle {
    position: relative;
    top: 3px;
}

#on {
    position: relative;
    top: 3px;
}

/*================FONTS FOR THE SETTHINGS WORDS*/

.level h2 {
    font-family: 'Press Start 2P', cursive;
}

.score#turn {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-left: 60px;
}

.scoreName h2 {
    font-family: 'Press Start 2P', cursive;
}

.labeStyle {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

/*----------checkbox--------------*/

@supports (zoom:2) {
    input[type=checkbox] {
        zoom: 4;
        /*defines the size of the checkbox*/
    }
}

@supports not (zoom:2) {
    input[type=checkbox] {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        margin: 15px;
    }
}



/*-------------push_button from samwebe.com*/

.push_button {
    position: relative;
    width: 220px;
    height: 40px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 43px;
    font-family: 'Press Start 2P', cursive;
    /*display: block;*/
    /*margin: 30px;*/
}

.push_button:before {
    background: #f0f0f0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;


}

.push_button:active {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top: 5px;
}

.push_button:active:before {
    top: -11px;
    bottom: -5px;
    content: "";
}

.red {
    text-shadow: -1px -1px 0 #A84155;
    background: #D25068;
    border: 1px solid #D25068;

    background-image: -webkit-linear-gradient(top, #F66C7B, #D25068);
    background-image: -moz-linear-gradient(top, #F66C7B, #D25068);
    background-image: -ms-linear-gradient(top, #F66C7B, #D25068);
    background-image: -o-linear-gradient(top, #F66C7B, #D25068);
    background-image: linear-gradient(to bottom, #F66C7B, #D25068);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
    background: #F66C7B;
    background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
    background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
    background-image: -o-linear-gradient(top, #D25068, #F66C7B);
    background-image: linear-gradient(top, #D25068, #F66C7B);
}

/*-----------------------button collors*/

#btnBlue {
    background-color: blue;
    padding-bottom: 40px;
}

#btnGreen {
    background-color: green;
    padding-right: 40px;
}

#btnRed {
    background-color: red;
    padding-left: 40px;
}

#btnYellow {
    background-color: #FF9914;
}

/*--Samuel Thornton --BOX-SHADOW DESIGN FOUR BUTTONS*/

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*-------------------------Sections*/

.fourButtons {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: center;
}

.top-row {
    display: flex;
    justify-content: center;
}

.middle-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    width: 400px;
}

.bottom-row {
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------media queries*/

@media only screen and (min-width: 320px) and (max-width: 575px) {
    /*smart phomes potrait only*/
    .carousel {
        display: none;
    }

    #turn.score {
        padding-right: 50px;
    }

    .scoreName.col-sm-4 {
        padding-bottom: 20px;
    }

    .col-sm-4.strict-style {
        padding-bottom: 40px;
    }

    .container#meBaby {
        min-height: 100vh;
        min-width: 100%;
    }

    .section2 {
        padding-top: 4px;
    }

    .row.justify-content-center {
        padding-top: 55px;
        height: 100px;
    }

    .labeStyle {
        font-family: 'Press Start 2P', cursive;
        font-size: 29px;
        float: center;
    }
    /*.buttonCollor {}*/
    .potrait {
        padding-top: 38px;
    }

    .col-sm-4.offset-sm-2 {
        position: relative;
        /*padding-left: 95px;*/
    }
    .gamebutton {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
    }

    .fourButtons {
        height: 275px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sButton {
        margin-left: 53px;
    }

    .push_button {
        margin: 0;
        border-left: 50px;
    }

    .btnBlue,
    .btnGreen,
    .btnRed,
    .btnYellow {
        width: 95%;
        max-width: 95%;
    }

    .top-row,
    .middle-row,
    bottom-row {
        max-width: 300px;
    }
}



@media only screen and (min-width: 576px) and (max-width: 1024px) {
    /*tablets*/
    .scoreName,
    .labeStyle {
        font-size: 28px;
    }
    .container#meBaby {
        min-height: 100vh;
        min-width: 100%;
        margin: 0 0;
    }
    .carousel {
        display: none;
    }

    .sButton {
        margin-left: 53px;
    }

    .push_button {
        margin: 0;
        border-left: 50px;
    }
    .fourButtons {
        padding: 0;
    }

    .btnBlue,
    .btnGreen,
    .btnRed,
    .btnYellow {
        width: 95%;
        max-width: 95%;
    }

    .gamebutton {
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 50%;
    }


    .potrait {
        padding-top: 200px;
    }

    .middle-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px auto;
        width: 520px;
    }

    .push_button {
        height: 66px;
    }

    .offset-sm-2 {
        margin-left: 1.666667%;
    }

    .row.justify-content-center {
        padding-top: 170px;
        height: 100px;
    }
}


@media only screen and (min-height: 360px) and (max-height: 414px) {
    /*smart phones landscape only*/
    .section2 {
        padding-top: 0;
    }

    input[type=checkbox] {
        zoom: 2;
        /* padding-top: 20px; */
    }

    #strict.toggle {
        position: relative;
        top: 7px;
    }

    #on {
        position: relative;
        top: 7px;
    }

    .scoreName,
    .labeStyle {
        font-size: 21px;
    }

    .row.justify-content-center {
        padding-top: 10px;
        height: 100%;
    }

    .push_button {
        height: 41px;
        width: 90px;
    }

    .potrait {
        padding-top: 15px;
    }

    .gamebutton {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
    }

    .middle-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px auto;
        width: 300px;
    }

    .fourButtons {
        padding-bottom: 239px;
    }

    .container.potrait {
        padding-top: 15px;
        max-height: 255px;
        overflow: hidden;
    }
}
