
body{
    background-color: #071013;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebutton{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: #FF9914;
}

.align {
  display: flex;
  justify-content: center;
}

.top-row {
   display: flex;
  justify-content: center;
}

.middle-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
}

.bottom-row {
   display: flex;
  justify-content: center;
}

#gameNumber{
    padding-left: 40px;
    padding-right: 40px;
}