body {
    background-color: #071013;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebutton {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}
/*-----------------------button collors*/
#blue {
    background-color: blue;
}

#green {
    background-color: green;
    padding-right: 40px;
}

#red {
    background-color: red;
    padding-left: 40px;
}

#yellow {
    background-color: #FF9914;
}
/*-------------------------Sections*/
.fourButtons {
    height: 500px;
    width: 500px;
}

.align {
    display: flex;
    justify-content: center;
}

.top-row {
    display: flex;
    justify-content: center;
}

.middle-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    width: 400px;
}

.bottom-row {
    display: flex;
    justify-content: center;
}

#gameNumber {
    
}
