
body{
    background-color: #071013;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebutton{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: #FF9914;
}