body {
    height: 100%;
    text-align: center;
    margin: 0 0;
    font-family: sans-serif;
}

/*---------------------Images*/

.image1 {  
    background: /*linear-gradient( rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),*/ url("/assets/images/image1.jpg");
    min-height: 100vh;
    margin-top: 0;
    position: relative;
    /*background-attachment: fixed;*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.image1 h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #ffff00;
}

.container#meBaby {
    min-width: 100%;
    top: 50px;
}

/*----------------------Settings*/

.section2.container{
    padding-top: 50px;
}

.strict-style {
    text-align: center;
}

.power-style {
    text-align: center;
}

.scoreName {
    text-align: center;
}

.level,
.strict {
    width: 50%;
    float: left;
    text-align: center;
}

.sButton {
    width: 30%;
    margin: 0 auto;
    padding-left: 40px;
    /*have a look on small screens*/
}

.start {
    width: 100%;
    height: 30px;
    text-align: center;
}

.gamebutton {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
}

/*-----------------------button collors*/

#btnBlue {
    background-color: blue;
    padding-bottom: 50px;
}

#btnGreen {
    background-color: green;
    padding-right: 40px;
}

#btnRed {
    background-color: red;
    padding-left: 40px;
}

#btnYellow {
    background-color: #FF9914;
}

/*--Samuel Thornton --*/

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*=============================*/

.level h2 {
    font-family: 'Press Start 2P', cursive;
}

.score#turn {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.scoreName h2 {
    font-family: 'Press Start 2P', cursive;
}


/*-------------------------Sections*/

.fourButtons {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: center;
}

.top-row {
    display: flex;
    justify-content: center;
}

.middle-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    width: 400px;
}

.bottom-row {
    display: flex;
    justify-content: center;
}


.labeStyle {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

.score#turn {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-left: 60px;
}

/*---------------------*/
@supports (zoom:2) {
  input[type=checkbox]{
        zoom: 4;
	 /*defines the size of the checkbox*/
	}
}
@supports not (zoom:2) {
  input[type=checkbox]{
		-webkit-transform: scale(2);
		    -ms-transform: scale(2);
		        transform: scale(2);
		margin: 15px;
	}
}
label{
  /* fix vertical align issues */
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

#strict.toggle{
    position: relative;
    top: 3px;
}

#on{
    position: relative;
    top: 3px;
}
/*-------------push_button from samwebe.com*/

.push_button {
    position: relative;
    width: 220px;
    height: 40px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 43px;
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 30px;
}

.push_button:before {
    background: #f0f0f0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

    position: absolute;
    content: "";
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -10px;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top: 5px;
}

.push_button:active:before {
    top: -11px;
    bottom: -5px;
    content: "";
}

.red {
    text-shadow: -1px -1px 0 #A84155;
    background: #D25068;
    border: 1px solid #D25068;

    background-image: -webkit-linear-gradient(top, #F66C7B, #D25068);
    background-image: -moz-linear-gradient(top, #F66C7B, #D25068);
    background-image: -ms-linear-gradient(top, #F66C7B, #D25068);
    background-image: -o-linear-gradient(top, #F66C7B, #D25068);
    background-image: linear-gradient(to bottom, #F66C7B, #D25068);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
    background: #F66C7B;
    background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
    background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
    background-image: -o-linear-gradient(top, #D25068, #F66C7B);
    background-image: linear-gradient(top, #D25068, #F66C7B);
}


/*---------------https://www.solodev.com*/

.ct-btn-scroll {
    width: 49px;/*the size of the image*/
    height: 49px;/*the size of the image*/
    position: absolute;
    left: 50%;
    top: 90%;
    margin: 0;
    padding: 0;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.ct-btn-scroll:hover {
    background-color: #FF4500;
}

/*----http://www.tipue.com/blog/css-pulse-buttons/*/
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

.ct-btn-scroll
{
     animation: shadow-pulse 2s infinite;
}
